*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ring{
    width: 220px;
    height: 220px;
    border: 0px solid #011015;
    border-radius: 50%;
    position: absolute;
    top: -60px;
}
.ring:nth-child(1){
    border-bottom-width: 4px;
    border-color: white;
    animation: rotate 2s linear infinite;
}

@keyframes rotate{
    0%{
        transform: rotateX(60deg) rotateY(10deg) rotateZ(360deg);
    }
    100%{
        transform: rotateX(60deg) rotateY(10deg) rotateZ(0deg);
    }
    }
/* @keyframes rotate{
    0%{
        transform: rotateX(45deg) rotateY(30deg) rotateZ(360deg);
    }
    100%{
        transform: rotateX(45deg) rotateY(30deg) rotateZ(0deg);
    }
    } */


    @media only screen and (max-width: 1023px) {
        .ring{
            width: 110px;
            height: 110px;
            border: 0px solid #011015;
            border-radius: 50%;
            position: absolute;
            top: -30px;
        }
      }

      @media only screen and (min-width: 1023px) and (max-width:1500px) {
        .ring{
            width: 155px;
            height: 155px;
            border: 0px solid #011015;
            border-radius: 50%;
            position: absolute;
            top: -30px;
        }
      }

      .hu__hu__ { animation: hu__hu__ infinite 2s ease-in-out }
      @keyframes hu__hu__ {
          50% { transform: translateY(30px) }
      }

      

      .engine1{
        animation: rotateA 10s linear infinite;
      }
      .engine2{
        animation: rotateB 8s linear infinite;
      }

      @keyframes rotateA{
        0%{
            transform: rotate(360deg);
        }
        }
      @keyframes rotateB{
        0%{
            transform: rotate(-360deg);
        }
        }